<div class="footer py-4 d-flex flex-lg-column bg-white border-top border-dashed" id="kt_footer">
    <div class="container-xxl d-flex flex-column flex-md-row flex-stack">
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-gray-500 fw-semibold me-1">© 2026 SendMo Platform.</span>
            <a href="https://pkenya.co.ke" target="_blank" class="text-warning-dark text-hover-primary fw-bold me-2 fs-6">Built by J&D Codex</a>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item"><a href="#" class="menu-link px-2">About</a></li>
            <li class="menu-item"><a href="#" class="menu-link px-2">Support</a></li>
            <li class="menu-item"><a href="#" class="menu-link px-2">API Documentation</a></li>
        </ul>
    </div>
</div>